/*Estilos Gerais*/
body {
  font-family: Roboto, Roboto Mono;
}

p {
  font-family: Roboto Mono, Roboto;
  font-size: 14px;
  line-height: 20px;
}

img {
  display: block;
}

.btn {
  border: 3px solid #fec63e;
  padding: 10px 30px;
  color: #fec63e;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
  transition: 0.3s;
}

.btn:hover {
  color: #fff;
  border-color: #fff;
}

.subtitle {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  letter-spacing: 0.1em;
  color: #000;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
}

.subtitle::before,
.subtitle::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: #000;
  margin: 10px auto;
}

/*Introdução Padrão*/
.introduction-default {
  width: 100%;
  height: 160px;
  background-size: cover;
  margin-top: 92px;
  text-align: center;
  color: #fff;
  padding-top: 30px;
}

.introduction-default h1 {
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
}

.introduction-default h1::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: #fff;
  margin: 10px auto 10px auto;
}

/*Header*/
.header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #fec63e;
  padding: 15px 0;
  z-index: 1;
}

.header-menu {
  text-align: right;
}

.header-menu ul li {
  display: inline-block;
  margin-left: 25px;
  margin-top: 25px;
}

.header-menu ul li a {
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 14px;
  line-height: 20px;
  transition: color 0.3s;
}

.header-menu ul li a:hover {
  color: #fff;
}

.header-menu ul li a.menu-active {
  color: #fff;
}

/*Introdução*/
.introduction {
  width: 100%;
  height: 380px;
  background: url("../img/bg.jpg") no-repeat center;
  background-size: cover;
  margin-top: 92px;
  text-align: center;
  padding-top: 80px;
}

.introduction h1 {
  font-size: 48px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}

.introduction .extern-quote {
  max-width: 360px;
  margin: 0 auto;
  margin-bottom: 40px;
  color: #fff;
}

.introduction .extern-quote p::before,
.introduction .extern-quote p::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: #fff;
  margin: 15px auto 15px auto;
}

.introduction .extern-quote cite {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.1em;
}

/*Produtos*/
.products {
  padding: 40px 0;
}

.products-list li {
  background: #fec63e;
  text-align: center;
}

.products-list li h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-top: 5px;
}

.products-list li h3::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: #000;
  margin: 5px auto;
}

.products-list li p {
  padding: 10px 20px;
}

.products-list-img {
  background-color: #000;
  padding: 20px 50px 20px 50px;
}

.call-to-action {
  text-align: center;
  clear: both;
  padding-top: 40px;
}

.call-to-action p {
  margin-bottom: 20px;
}

.call-to-action .btn:hover {
  color: #000;
  border-color: #000;
}

/*Portfólio*/
.portfolio {
  width: 100%;
  background-color: #000;
  padding: 40px 0;
}

.portfolio .subtitle {
  color: #fec63e;
}

.portfolio .subtitle::before,
.portfolio .subtitle::after {
  background-color: #fec63e;
}

.portfolio-items li:last-child {
  margin-top: 20px;
}

.portfolio .call-to-action p {
  color: #fff;
}

.portfolio .container .call-to-action .btn:hover {
  color: #fff;
  border-color: #fff;
}

/*Qualidade*/
.quality {
  padding: 40px 0;
}

.quality::after {
  width: 634px;
  height: 83px;
  display: block;
  background: url("../img/linhas.svg") no-repeat center;
  position: absolute;
  z-index: -1;
  top: 214px;
  right: 162px;
}

.quality img {
  margin: 0 auto;
}

.quality-list {
  padding-top: 30px;
  overflow: auto; /*Clear fix*/
}

.quality .call-to-action .btn {
  border: 3px solid #fec63e;
  padding: 10px 30px;
  color: #fec63e;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
  transition: 0.3s;
}

.quality .call-to-action .btn:hover {
  color: #000;
  border-color: #000;
}

.quality-list li {
  text-align: center;
  padding: 0 40px;
}

.quality-list li h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-top: 5px;
}

.quality-list li h3::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: #000;
  margin: 5px auto;
}

/*Pre-Footer*/
.pre-footer {
  background: url("../img/bg-footer.jpg") no-repeat center;
  background-size: cover;
  width: 100%;
  height: 220px;
  text-align: center;
}

.pre-footer .extern-quote {
  padding-top: 40px;
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 40px;
  color: #fff;
}

.pre-footer .extern-quote p::before,
.pre-footer .extern-quote p::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: #fff;
  margin: 15px auto 15px auto;
}

.pre-footer .extern-quote cite {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.1em;
}

/*Footer*/
.footer {
  width: 100%;
  background-color: #000;
  color: #fff;
  padding: 20px 0;
}

.footer .container div h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-top: 5px;
  color: #fec63e;
}

.footer .container div h3::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: #fec63e;
  margin: 10px 0;
}

.footer .container div p {
  max-width: 400px;
}

.footer .container div p,
.footer .container div ul {
  padding: 10px 0px;
}

.footer .container div ul li {
  font-family: Roboto Mono;
}

.footer .container div .social-icons {
  display: flex;
  justify-content: space-around;
}

.footer .container div .social-icons li a {
  display: block;
  border: 3px solid #fec63e;
  padding: 5px;
}

footer .copyright {
  width: 100%;
  height: 60px;
  background-color: #fec63e;
}

footer .copyright p {
  padding: 20px 0;
}
